:root {
  /* Green */
  --primary-green: #6BBF4D;
  --light-green: #A4D76D;
  --dark-green: #4C9141;
  --muted-green: #C1E3C1;

  /* Violet */
  --primary-violet: #8A56AC;
  --light-violet: #B78DD5;
  --dark-violet: #663F87;
  --muted-violet: #E4D6F0;

  /* Orange */
  --primary-orange: #F7923A;
  --light-orange: #FAC28C;
  --dark-orange: #C2702D;
  --muted-orange: #FFE3CC;

  /* Red */
  --primary-red: #E63946;
  --light-red: #F28B93;
  --dark-red: #A32A32;
  --muted-red: #FAD4D6;

  /* Gray */
  --light-gray: #F5F5F5;
  --medium-gray: #B3B3B3;
  --dark-gray: #4F4F4F;
  --muted-gray: #E0E0E0;

  /* Black & White */
  --black: #000000;
  --white: #FFFFFF;
}
