:root {
  --primary-color: #6BBF4D; /* Fresh, medium green */
  --primary-light-color: #A4D76D; /* Lighter, but still vivid green */
  --primary-dark-color: #4C9141; /* Richer, darker green for depth */
  --secondary-color: #8CCF76; /* Bright and slightly yellowish pastel green */
  --secondary-dark-color: #6B9B56; /* Muted olive green for secondary accents */
  --text-color: #333333; /* Dark gray for readability */
  --button-text-color: #fff; /* Dark gray for readability */
  --disabled-color: #C1E3C1; /* Subtle greenish-gray for disabled state */
}
